body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
h1 {
font-weight: 524px;
line-height: auto;
text-align: center;
padding: 10px;
margin: 8% auto 0;
}

.form-container {
    width: 100%;
    background: #fff;
    padding: 10px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 30px;
}
::placeholder {
    text-align: center;
    font-size: medium;
    font-weight: 500;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-bottom: 30PX; 
}
.input-box {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 295px;
    height: 30px;
    border: 1px solid #999;
    outline: none;
    background-color: #d9d9d9;
}
button{
    padding: 10px;
    margin: 10px;
    width: 153px;
    height: 30px;
    border: 1px solid #999;
    background-color: #d9d9d9;


}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
}